# Ignore edit config
.idea/
.vscode/

# Ignore python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual enviroments
venv/
.env/

# Ignore my data
.kaggle/
.lightning_studio/
.netrc
lightning_logs/
dataset/*.zip
dataset/
# Ignote folders
experiments/

.bash_history
.cursor-server
.vscode-server
.windsurf-server